<div class="page">
    <div class="hud">
        <div class="lives">
            <i class="fas fa-heart" *ngFor="let i of Arr(lives).fill(1)"></i>
        </div>
<!--        <div class="time">-->
<!--            {{seconds}}-->
<!--        </div>-->
        <div class="score">
            {{score}}
        </div>
    </div>

    <p>Uprav na tvar x · 10<sup>n</sup></p>
    <div class="current-problem">{{currentProblem}}</div>

    <div class="equal-sign">=</div>

    <div class="invalid-note" *ngIf="showingCorrectAnswer">Nesprávne! Takto to malo vyzerať:</div>

    <div class="answer-form" (keydown)="onKeyDown($event)">
        <input type="number"
               [(ngModel)]="answerBase"
               class="answer-base"
               placeholder="x" size="4" #focus> · 10
        <sup>
            <input type="number" [(ngModel)]="answerPow"
                   class="answer-pow"
                   placeholder="n" size="1">
        </sup>


        <div class="start-button" [class.invalid]="showingCorrectAnswer" [class.correct]="playCorrectAnim"
             (click)="onValidateClick()">{{(showingCorrectAnswer) ? 'Pokračovať' : 'Skontrolovať'}}</div>
    </div>
</div>
