<div class="page">
    <p>Uprav na tvar x · 10<sup>n</sup></p>
    <div class="current-problem">{{currentProblem}}</div>

    <div class="equal-sign">=</div>

    <div class="answer-form">
        <input type="number"
               [(ngModel)]="answerBase"
               class="answer-base"
               placeholder="x" size="4" #focus> · 10
        <sup>
            <input type="number" [(ngModel)]="answerPow"
                   class="answer-pow"
                   placeholder="n" size="1">
        </sup>

        <div class="start-button" (click)="onValidateClick()">{{(showingCorrectAnswer) ? 'Pokračovať' : 'Skontrolovať'}}</div>
    </div>

    <button (click)="validate()">[DEBUG] validate</button>
    <button (click)="generateProblem()">[DEBUG] regen problem</button>
</div>
