<div class="page">
    <h1 class="logo">Unilla</h1>
    <p class="subtext">Otestuj sa pri premienaní čísiel na tvar x · 10<sup>y</sup></p>

    <div class="setup-form">
        <app-select icon="fas fa-chart-line" label="Obtiažnosť" [options]="difficultyOptions"
                    [(value)]="options.difficulty" (valueChange)="onOptionChange()"></app-select>

        <div class="start-button" [routerLink]="'/problems'">Začať</div>

    </div>

    <div class="footer">
        <div class="link">
            <i class="fab fa-github"></i>
        </div>
    </div>
</div>
